{% load static %}

<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <div class="img-logo w-6/12">
        <a href="/" class="w-full">
            <img class="w-2/12" src="{% static 'images/hashflix.png' %}" alt="logo hashflix">
        </a>
    </div>

    <div class="nav-items w-6/12 flex justify-end">
        {% if user.is_authenticated %}
            <div class="mr-2">
                <form action="{% url 'filme:pesquisa_filme' %}" method="get" class="input-div">
                    <input id="i-pesquisa" name="query" value="{{ request.GET.query }}" type="text" class="py-1 px-2 rounded-md text-black" placeholder="Pesquisar...">
                    <input type="submit" value="">
                </form>
            </div>
        {% endif %}

        <div class="mr-2">
            {% if user.is_authenticated %}
                <a href="{% url 'filme:logout' %}"><button class="bg-red-600 text-white py-1 px-3 rounded-md">Sair</button></a>
            {% else %}
                <a href="{% url 'filme:login' %}"><button class="bg-red-600 text-white py-1 px-3 rounded-md">Login</button></a>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
            <div class="mr-2 ">
                <a href="{% url 'filme:pagina_perfil' user.id %}"><button class="bg-red-600 text-white py-1 px-3 rounded-md">Editar Perfil</button></a>
            </div>
        {% endif %}
    </div>
</nav>
